<div id="showOrganizationView" class='well'>
    <h1> {{name}} </h1>
       <h5> Members: {{users.length}} {{#unless isMember}}<button {{action join}}> Join </button>{{/unless}}</h5>
       <ul>
       {{#each user in users}}
         <li>{{user.email}} {{#if isOwner}} <button>Remove</button>{{/if}}</li>
       {{/each}}
       </ul>
    <br />
    Terms: {{terms.length}}&nbsp; {{#linkTo "terms.new"}}<button> New Term </button>{{/linkTo}}
        {{outlet}}
</div>
