<div id="showOrganizationView" class='well'>
    <h1> {{name}} </h1>
       <h5> Members: {{users.length}} </h5>
       <ul>
       {{#each user in users}}
         <li>{{user.email}} <button>Remove</button></li>
       {{/each}}
       </ul>
    <br />
    Terms: {{terms.length}}&nbsp; {{#linkTo "terms.new"}}<button> New Term </button>{{/linkTo}}
        {{outlet}}
</div>
