<div id="showOrganizationView" class='well'>
    <h1> {{content.name}} </h1>
    Memberships: {{content.memberships.length}} <br />
       Members:
       <ul>
       {{#each membership in content.memberships}}
         <li>{{membership.user.email}} <button>Remove</button></li>
       {{/each}}
       </ul>
    <br />
    Terms: {{content.terms.length}}
        Terms:
        <ul>
        {{#each term in content.terms}}
            <!-- This is wrong, but it may be wrong because its missing the implementation of the event for this -->
            <li><a {{action toShow term}}> {{term.name}}</a></li>
        {{/each}}
        </ul>
</div>
