<div id="termView" class='well'>
    {{ log controller.model }}
    <h2>{{name}}<button {{action editTerm content }} class='btn btn-mini'> Edit </button></h2>

    <pre>{{description}}</pre>

    <button {{action back }} class='btn'> Back </button>
</div>
