<div class="well">
<h4>Email: {{view Ember.TextField valueBinding="YJ.userController.currentUser.email" placeholder="User email"}}</h4> <br />
<h4>Password: {{view Ember.TextField valueBinding="YJ.userController.currentUser.password" type="password" placeholder="User password"}}</h4> <br />
<button {{action "cancel"}}> Cancel </button>  <button {{action "submit"}}> Submit </button> or <a href="#" {{action "register"}}> Sign up </a>
</div>
