{{#view YJ.LoginView id="loginView"}}
<h2> Log in </h2> <br />
email: {{view Ember.TextField valueBinding="login" placeHolder="Email..."}} <br />
password: {{view Ember.TextField valueBinding="password" type="password" placeHolder="Password..."}} <br />
<button {{action "cancel"}}> Cancel </button>  <button {{action "submit"}}> Submit </button> or <a href="#" {{action "signup"}}> Sign up </a>
{{/view}}
