{{#view YJ.SignupView id="signupView"}}
<h2> Sign up </h2> <br />
name:  {{view Ember.TextField valueBinding="name" placeHolder="Name..."}} <br />
email: {{view Ember.TextField valueBinding="login" placeHolder="Email..."}} <br />
password: {{view Ember.TextField valueBinding="password" type="password" placeHolder="Password..."}} <br />
<button {{action "cancel"}}> Cancel </button> <button {{action "submit"}}> Submit </button> or <a href="#" {{action "login"}}> Log in </a>
{{/view}}