<div id="editTermView" class='well'>
  <h3>{{controller.name}}</h3><br>
  <h4>Definition: {{view Ember.TextArea valueBinding="controller.description" class="span7" rows="7"}}</h4>
  <div class='btn-group'>
  <button {{action save }} class='btn btn-primary'> Submit </button>
  <button {{action cancel }} class='btn'> Cancel </button>
  <button {{action delete }} class='btn btn-danger'> Delete </button>
  </div>
</div>
