<div id="editTermView" class='well'>
  term: {{YJ.currentTerm.newTerm.term}}<br>
  definition: {{view Ember.TextArea valueBinding="YJ.currentTerm.newTerm.description"}}
  <div class='btn-group'>
  <button {{action "update"}} class='btn btn-primary'> Submit </button>
  <button {{action "cancel"}} class='btn'> Cancel </button>
  <button {{action "delete"}} class='btn btn-danger'> Delete </button>
  </div>
</div>
