<div class="navbar">
<div class="navbar-inner">
	<div class="container-fluid">
		<a href="#" class="brand"> YourJargon </a>
	</div>
</div>
</div>
<div id="editTermView" class='well'>
  <h3>Term: {{YJ.currentTerm.newTerm.term}}</h3><br>
  <h4>Definition: {{view Ember.TextArea valueBinding="YJ.currentTerm.newTerm.description"}}</h4>
  <div class='btn-group'>
  <button {{action "update"}} class='btn btn-primary'> Submit </button>
  <button {{action "cancel"}} class='btn'> Cancel </button>
  <button {{action "delete"}} class='btn btn-danger'> Delete </button>
  </div>
</div>
