{{#view YJ.NewTermView id="newTermView"}}
term: {{view Ember.TextField valueBinding="YJ.currentTerm.newTerm.term"}}
definition: {{view Ember.TextArea valueBinding="YJ.currentTerm.newTerm.description"}}
<p>
<button {{bindAttr class="disabled"}} {{bindAttr disabled="isDisabled"}} {{action "add"}}> Submit </button>
<button {{action "cancel"}}> Cancel </button>
</p>
{{/view}}

