<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a {{action goHome}} class="brand"> YourJargon </a>

      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>

      <ul class="nav pull-left">
        <li><button {{action newTerm}} class="btn pull-right"> New Term </button></li>
      </ul>
      <ul class="nav pull-right">
        <li>
          {{#if YJ.router.userController.email}}
          current user: {{YJ.router.userController.email}} <a {{action logout}}>logout</a>
          {{else}}
          <a {{action login}}>login</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</div>
